
### Python ###
# Byte-compiled / optimized / DLL files
/Lezhin_Crawler/__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
.vscode/

# driver log
.ghostdriver.log

# Static
/Lezhin_Crawler/Constants.py